<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  {{ partial "head.html" . }}
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!-- <p>Hello world! This is HTML5 Boilerplate.</p> -->
  <!-- Code that all your templates share, like a header -->
  <!-- More shared code, perhaps a header but that can be overridden if need be in  -->
  <div class="main-body d-flex">
    <section class="header">{{ partial "header.html" . }}</section>
    <section class="main columns">{{ block "main" . }}{{ end }}</section>
    <section class="footer">{{ partial "footer.html" . }}</section>
  </div>
  {{ partial "script.html" . }}
</body>

</html>
