<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  {{ partial "head.html" . }}
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!-- <p>Hello world! This is HTML5 Boilerplate.</p> -->
  <!-- Code that all your templates share, like a header -->
  <!-- More shared code, perhaps a header but that can be overridden if need be in  -->
  <section class="hero is-fullheight">
    <div class="hero-head">{{ partial "header.html" . }}</div>
    <div class="hero-body">{{ block "main" . }}{{ end }}</div>
    <div class="hero-foot">{{ partial "footer.html" . }}</div>
  </section>
  {{ partial "script.html" . }}
</body>

</html>
