{{ define "main" }}
<div class="container col-8 col-lg-11 lang-zh-hans">
  <div class="pb-2">
    {{ .Content }}
  </div>

  {{ if not .IsHome }}
  {{ if gt .Paginator.Pages 0 }}
  <div class="text-center text-bold text-large py-2">全部文章</div>
  {{ range .Paginator.Pages }}
  <hr>
  <div class="post-list py-2">
    <div class="post-info">
      <div class="mb-2">
        <a class="text-bold text-large" href="{{.Permalink}}">{{ .Title }}</a>
        <span class="chip float-right">{{.Date.Format "2006-01-02"}}</span>
      </div>
      {{ if .Description }}
      <p>{{ .Description }}</p>
      {{ else }}
      <p>{{ .Summary }}</p>
      {{ end }}
    </div>
    {{ with .Params.tags }}
    <div class="post-tag">
      {{ range . }}
      <span class="chip" >
        #<a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
      </span>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
  {{ end }}
  {{ end }}
</div>
{{ end }}