<header class="navbar p-2">
  <section class="col-2 hide-lg"></section>
  <section class="navbar-section">
    <a href="/" class="navbar-brand mr-2">Gist</a>
    <a href="/posts/" class="btn btn-link">Posts</a>
    <a href="/about/" class="btn btn-link">About</a>
  </section>
  <section class="navbar-section">
    <form action='{{ "search/" | absURL }}'>
      <div class="input-group input-inline">
        <input class="form-input" type="text" placeholder="search" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input" name="s">
        <button class="btn btn-primary input-group-btn" type="submit">Search</button>
      </div>
    </form>
  </section>
</header>