<head>
  <meta charset="utf-8">
  <title>Gist</title>
  <meta name="description" content="Gist">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#fafafa">
  <!--icon-->
  <link rel="icon" type="image/png" href='{{ "images/icons/icon-48x48.png" | absURL }}'>
  <!--css-->
  <link rel="stylesheet" href='{{ "css/spectre.min.css" | absURL }}'>
<!--  <link rel="stylesheet" href='{{ "css/spectre-exp.min.css" | absURL }}'>-->
<!--  <link rel="stylesheet" href='{{ "css/spectre-icons.min.css" | absURL }}'>-->
  <link rel="stylesheet" href='{{ "css/sample.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/my.css" | absURL }}'>
  <!--js-->
<!--  <script src='{{ "js/fontawesome.js" | absURL }}'></script>-->

</head>